In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
from scipy.constants import golden 

plt.style.use('fivethirtyeight')
plt.rc('figure', figsize = (5.0, 5.0/golden)) 

cars = pd.read_csv('mtcars.txt', sep = '\t', index_col = 0, decimal=",", dtype ={
    'consumo':np.float64, 'cilindrata':np.float64, 'test400metri':np.float64
})

cars

,consumo,cilindrata,peso,test400metri,trasmissione,marce
modello,,,,,,
Mazda RX4,21.00,110.0,2.620,16.46,1,4
Mazda RX4 Wag,21.00,110.0,2.875,17.02,1,4
Datsun 710,22.80,93.0,2.320,18.61,1,4
Hornet 4 Drive,21.40,110.0,3.215,19.44,0,3
Hornet Sportabout,18.70,175.0,3.440,17.02,0,3
Valiant,18.01,105.0,3.460,20.22,0,3
Duster 360,14.30,245.0,3.570,15.84,0,3
Merc 240D,24.40,62.0,3.190,20.00,0,4
Merc 230,22.80,95.0,3.150,22.90,0,4
Merc 280,19.20,123.0,3.440,18.30,0,4
Merc 280C,17.80,123.0,3.440,18.90,0,4
Merc 450SE,16.40,180.0,4.070,17.40,0,3
Merc 450SL,17.30,180.0,3.730,17.60,0,3
Merc 450SLC,15.20,180.0,3.780,18.00,0,3
Cadillac Fleetwood,10.40,205.0,5.250,17.98,0,3
Lincoln Continental,10.40,215.0,5.424,17.82,0,3
Chrysler Imperial,14.70,230.0,5.345,17.42,0,3
Fiat 128,32.40,66.0,2.200,19.47,1,4
Honda Civic,30.40,52.0,1.615,18.52,1,4
Toyota Corolla,33.90,65.0,1.835,19.90,1,4
Toyota Corona,21.50,97.0,2.465,20.01,0,3
Dodge Challenger,15.50,150.0,3.520,16.87,0,3
AMC Javelin,15.20,150.0,3.435,17.30,0,3
Camaro Z28,13.30,245.0,3.840,15.41,0,3
Pontiac Firebird,19.20,175.0,3.845,17.05,0,3
Fiat X1-9,27.30,66.0,1.935,18.90,1,4
Porsche 914-2,26.00,91.0,2.140,16.70,1,5
Lotus Europa,30.40,113.0,1.513,16.90,1,5
Ford Pantera L,15.80,264.0,3.170,14.50,1,5
Ferrari Dino,19.70,175.0,2.770,15.50,1,5
Maserati Bora,15.00,335.0,3.570,14.60,1,5
Volvo 142E,21.40,109.0,2.780,18.60,1,4

In [18]:
# Punto 1: creare la tabella delle frequenze relative del carattere marce
marce_rel = pd.crosstab(index = 'Frequenze relative', columns=cars['marce'], normalize = 'all')
marce_rel

marce                     3      4        5
row_0
Frequenze relative  0.46875  0.375  0.15625

In [29]:
# Punto 2: qual'è la probabilità che, sorteggiando un modello di auto dal dataset, questo sia a 4 marce ? 
marce = cars['marce']
prob_4marce = (marce[[y == 4 for y in marce]].count()/cars.value_counts().sum())*100
prob_4marce

37.5