In [40]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
from scipy.constants import golden 

plt.style.use('fivethirtyeight')
plt.rc('figure', figsize = (5.0, 5.0/golden)) 

cars = pd.read_csv('mtcars.txt', delimiter = '\t', decimal=",")

cars

,modello,consumo,cilindrata,peso,test400metri,trasmissione,marce
0,Mazda RX4,21.00,110,2.620,16.46,1,4
1,Mazda RX4 Wag,21.00,110,2.875,17.02,1,4
2,Datsun 710,22.80,93,2.320,18.61,1,4
3,Hornet 4 Drive,21.40,110,3.215,19.44,0,3
4,Hornet Sportabout,18.70,175,3.440,17.02,0,3
5,Valiant,18.01,105,3.460,20.22,0,3
6,Duster 360,14.30,245,3.570,15.84,0,3
7,Merc 240D,24.40,62,3.190,20.00,0,4
8,Merc 230,22.80,95,3.150,22.90,0,4
9,Merc 280,19.20,123,3.440,18.30,0,4
10,Merc 280C,17.80,123,3.440,18.90,0,4
11,Merc 450SE,16.40,180,4.070,17.40,0,3
12,Merc 450SL,17.30,180,3.730,17.60,0,3
13,Merc 450SLC,15.20,180,3.780,18.00,0,3
14,Cadillac Fleetwood,10.40,205,5.250,17.98,0,3
15,Lincoln Continental,10.40,215,5.424,17.82,0,3
16,Chrysler Imperial,14.70,230,5.345,17.42,0,3
17,Fiat 128,32.40,66,2.200,19.47,1,4
18,Honda Civic,30.40,52,1.615,18.52,1,4
19,Toyota Corolla,33.90,65,1.835,19.90,1,4
20,Toyota Corona,21.50,97,2.465,20.01,0,3
21,Dodge Challenger,15.50,150,3.520,16.87,0,3
22,AMC Javelin,15.20,150,3.435,17.30,0,3
23,Camaro Z28,13.30,245,3.840,15.41,0,3
24,Pontiac Firebird,19.20,175,3.845,17.05,0,3
25,Fiat X1-9,27.30,66,1.935,18.90,1,4
26,Porsche 914-2,26.00,91,2.140,16.70,1,5
27,Lotus Europa,30.40,113,1.513,16.90,1,5
28,Ford Pantera L,15.80,264,3.170,14.50,1,5
29,Ferrari Dino,19.70,175,2.770,15.50,1,5
30,Maserati Bora,15.00,335,3.570,14.60,1,5
31,Volvo 142E,21.40,109,2.780,18.60,1,4

In [5]:
#4.2 Quante osservazioni contiene il dataset ?
len(cars)

32

In [23]:
#4.3 Qual'è la moda del carattere peso ?
cars['peso'].mode()

0    3.44
Name: peso, dtype: float64

In [25]:
#4.4 Qual'è il modello di auto più pesante ?
cars[cars.peso == cars.peso.max()].modello

15    Lincoln Continental
Name: modello, dtype: object

In [26]:
#4.5 Quali sono i valori possibili per il carattere marce ?
cars['marce'].unique()

array([4, 3, 5], dtype=int64)

In [32]:
'''
4.6 Dei caratteri marce e trasmissione visualizzate:
    4.6.1 La tabella delle frequenze congiunte relative 
    4.6.2 La tabella delle frequenze congiunte assolute
'''
marce_tras_abs = pd.crosstab(index = cars['marce'], columns = cars['trasmissione'])
marce_tras_rel = pd.crosstab(index = cars['marce'], columns = cars['trasmissione'], normalize = 'all')

print(marce_tras_abs, '\n\n', marce_tras_rel)

trasmissione   0  1
marce
3             15  0
4              4  8
5              0  5

 trasmissione        0        1
marce
3             0.46875  0.00000
4             0.12500  0.25000
5             0.00000  0.15625

In [ ]:
#4.7 Usate i dati delle due tabelle generate prima per rispondere a queste domande

In [33]:
#4.7.1 Modelli di auto a 5 marce con trasmissione automatica
print(0)

0

In [34]:
#4.7.2 Modelli di auto a 5 marce con trasmissione manuale
print(5)

5

In [35]:
#4.7.3 Percentuale modelli con 5 marce e trasmissione automatica
print(0)

0

In [38]:
#4.7.4 Percentuale modelli con 5 marce e trasmissione manuale
print('15 %')

15 %

In [39]:
#4.7.5 Percentuale modelli con 4 marce
print('37 %')

37 %

In [ ]:
#4.7.6 Percentuale modelli con 4 marce tra quelli manuali
print('61 %')